.container {
    display: flex;
    justify-content: center;
}
tr td{
    width: 110.5px;
}
td, th {
    padding: 5px 10px;
}
.btn {
    text-align: center;
}
.titulo {
    background-color: lightgray;
}